/*--------------------------------------- GENERELT ---------------------------------------*/

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    background-image: url(pictures/background22.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #161e21;
    background-attachment: fixed;
    margin: 0;
}

@media screen and (max-width: 630px) {
    body {
        background-size: 630px;
    }
}


.hidden {
    display: none;
    transform: translateX(-100%);
    transform: scale(0);
}

.hide {
    display: none;
}




/*Variables*/
:root {
    --color-1: #93416d;
    --color-2: #d69fb2;
    --color-3: #b57d91;
    --color-4: #6d957e;
    --color-5: #efe2d2;

}


.animation_logo {
    animation-name: animation_logo;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: steps(41);
    animation-delay: 0.5s;

}

@keyframes animation_logo {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -4100% 0;
    }
}

.animation_logo2 {
    animation-name: animation_logo;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(41);
    animation-delay: 0.5s;

}

@keyframes animation_logo2 {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -4100% 0;
    }
}


#logo {
    background-size: 4100% 100%;
    background-image: url(pictures/sprite_logo.svg);
    position: absolute;
    width: 80px;
    height: 80px;
    top: 20px;
    left: 20px;

}

/*

.logo2 {
    background-size: 4100% 100%;
    background-image: url(pictures/sprite_logo.svg);
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 100px;

}
*/

/*
#loading_screen {
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    margin-top: -40px;
}
*/

#loading_screen {
    background: #000;
    opacity: 0.8;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 1600px;
}

#loading {
    background-size: 4100% 100%;
    background-image: url(pictures/logo_sprite_white.svg);
    position: absolute;
    width: 200px;
    height: 200px;

}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 250px;
}


.fade_out {
    animation-name: fadeout_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



/*---------------------- BUTTON ---------------------*/



#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    border: none;
    right: 30px;
    z-index: 2;
    background-image: url(pictures/arrow3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    background-color: none;
    width: 50px;
    height: 50px;
    opacity: 0.2;

}

#myBtn:hover {
    background-image: url(pictures/arrow4.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: 70px;
    background-color: none;
    transform: scale(1.1);
    opacity: 0.5;

    width: 50px;
    height: 50px;
}

/*--------------------------------------- FORSIDE---------------------------------------*/
/*

#start h3,
h4 {
    color: white;
}
*/


.content {
    text-align: right;
    margin-top: 40px;
    margin-right: 20px;
}

.content a {
    padding: 0px 6px;
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

.content a:hover {
    color: white;
    transition: .5s;
    transform: scale(1.5);
}



#overskrift {
    background-image: url(pictures/logo.svg);
    background-size: contain;
    z-index: 2;

    position: absolute;
    width: 80px;
    height: 80px;
    top: 20px;
    left: 20px;
}

/*----- om -------*/

#om .sectionwrapper {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    margin-top: 150px;
}


#om .column {
    flex-grow: 1;
    flex-basis: 200px;
    margin-right: 20px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
}

#om .icon1 {
    background-image: url(pictures/profile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 80px;
}

#om .icon2 {
    background-image: url(pictures/bulb.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
}

#om .icon3 {
    background-image: url(pictures/book.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
}

#om h2 {
    text-align: center;
}



.start_overskrift {
    text-align: center;
    margin-top: 100px;
}


/*--------------------------------------- PORTFOLIO ---------------------------------------*/
.container {
    position: relative;
    width: 50%;
}

.container h2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover img {
    opacity: 0.3;
    transform: scale(1.05);
}



.container:hover .middle {
    opacity: 1;
    background-color: white;
    border-radius: 50px;
    padding: 15px;
}

.text {
    color: var(--color-2);
    font-family: 'Alegreya Sans bold', sans-serif;
    font-size: 25px;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    margin-left: 100px;
    margin-right: 100px;
    width: auto;
    min-width: 200px;
    text-align: center;
}





p img {
    width: 30px;
    padding-right: 5px;
    padding-top: 5px;
}


/*---------tema-------*/

#sectionwrapper_portfolio h2 {
    border-bottom: 2px black solid;
    /*
    background-color: #faabc1;
    color: white;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
*/
    /*
    text-decoration: underline;
    text-decoration-color: #ffc9d6;
*/

}

#sectionwrapper_portfolio h1 {
    color: white;
    padding-top: 40px;
}

.tema_overskrift {
    text-align: center;
    margin-top: 50px;
    line-height: 10px;
}



.overskrift {

    margin-top: 100px;
}

.bag {
    background-image: url(pictures/bag2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
}


.container img {
    opacity: 10;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}


#tema2 a {
    color: #dd6890;
    text-decoration: none;
}

#tema2 a:hover {
    color: #ffa1c1;
    text-decoration: none;
}

/*--------------- nav -----------------*/
.smutvej {
    margin-top: 40px;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fff5f5, #fff5f5, #fff5f5, #fff5f5, #fff5f5, rgba(0, 0, 0, 0));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*
    padding-top: 3px;
    padding-bottom: 3px;
*/

}


.smutvej a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    padding: 20px;
}

.smutvej a:hover {
    /*    text-decoration: underline;*/
    text-shadow: 1px 1px var(--color-3);
    color: white;

}


/*-------------- tema 1 ---------------*/

.sectionwrapper {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    /*    justify-content: center;*/
    margin-top: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}


.column_left {
    flex-grow: 2;
    flex-basis: 600px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.column_right {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 20px;
    flex-direction: column;
    background-color: #fffcfc;
    outline: 3px dotted #ffe8ec;
}

.column_left2 {
    flex-grow: 1;
    flex-basis: 200px;
    justify-content: space-between;
    position: relative;

}

.column_right2 {
    flex-grow: 1;
    flex-basis: 200px;
    font-size: 15px;
    justify-content: space-between;
}


/*
.column_1 {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 20px;
    flex-direction: column;
}

.column_2 {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 20px;
    flex-direction: column;
}
*/



/*

#sectionwrapper_portfolio a {
    padding: 0px 6px;
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

#sectionwrapper_portfolio a:hover {
    text-decoration: underline;
    color: green;
}
*/


img {
    max-width: 400px;

    /*    outline: var(--color-2) 5px solid;*/
}

@media screen and (max-width: 520px) {
    img {
        max-width: 250px;
    }

    .sectionwrapper {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    body {
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 4vw;
    }

    p {
        font-size: 4vw;
    }

    a {
        font-size: 4vw;
    }


}


@media screen and (max-width: 370px) {
    img {
        max-width: 200px;
    }


}




@media screen and (max-width: 390px) {
    #overskrift {
        width: 60px;
        height: 60px;
    }

    .content {
        text-align: right;
        margin-top: 5px;
        margin-right: 5px;
    }

    .content a {
        padding: 0px 10px;
        font-size: 0.9rem;
    }

    #om .sectionwrapper {
        margin: 10px;
        margin-top: 50px;
    }

    .sectionwrapper {
        margin-top: 10px;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 30px;
        padding-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .center_text {
        padding-left: 20px;
        font-size: 15px;
    }

    .column_left2 {
        flex-grow: 1;
        flex-basis: 500px;
        justify-content: space-between;
        position: relative;

    }

    .column_right2 {
        flex-grow: 1;
        flex-basis: 200px;
        font-size: 15px;
        justify-content: space-between;
    }

}










/*-------------------- CHEESEPLEASE ---------------------------*/



@keyframes up_down_kf {

    0%,
    100% {
        transform: translateY(17vw);
    }

    50% {
        transform: translateY(0vw);
    }
}


.type1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url("pictures/cheeseplease/cat.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    animation-name: up_down_kf;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    top: 10px;
    left: 10px;

}


#box1 {
    width: 250px;
    height: 130px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 10px;
}


#tube1 {
    background-image: url("pictures/cheeseplease/tube.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    position: absolute;
    top: 200px;
    left: 20px;
}
